.whiteboard {
  
    display: flex;
    flex-flow: column;
    background-color: rgb(236, 236, 225);
    position:relative;
    display: block;
  }

.draggableNode {
  position:absolute;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border: 1px solid black;
  display: block
}

.symbolLabel {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  border: 1px solid black;
  display: inline
}

.symbolAnchorContainerTable {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
}